img {
  width: 200px;
  height: 200px;
}

.singleImage {
  width: 400px;
  height: 400px;
}

.post {
  max-width: 250px;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.emoji:hover {
  cursor: pointer;
  background-color: #89ff89;
}

.username {
  color: black;
  text-decoration: underline;
}

.username:hover {
  color: red;
}

.title:hover {
  color: red;
}

.postImg:hover {
  transform: scale(1.03);
}

.logout:hover {
  background-color: white;
  color: black;
}